@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'Valorax';
  src: url('/fonts/valorax.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Sulphur Point', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;

  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  transition:
    background-color 0.2s,
    color 0.2s;
}
